*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://images.unsplash.com/photo-1613545325268-9265e1609167?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-size: cover;
}
.hero{
    display: flex;
}
#logo{
    color:#13eadcb0;
    padding-top: 20px;
    padding-left: 20px;
    font-style: italic;
    font-size: 22px;
}
nav ul li{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
nav{
    padding-left: 400px;
}

ul li{
    margin-left: 20px;
    padding : 40px 20px;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(158, 218, 243);
}
.villan{
    height: 100vh;
    width: 100%;
}
h2{
    text-align: center;
    padding-top: 250px;
    color: #13eadcb0;
}
p{
    padding-top: 15px;
    text-align: center;
    font-size: 22px;
    color: rgb(245, 187, 11);
}
.button{
    border: none;
    padding : 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    margin: 25px;
    transition: 0.3s;
    background-color: #3713eab0;
    color: white;
    
}
#btn{
    padding-top:5px;
}
a:hover{
    text-decoration: underline 4px solid rgb(245, 187, 11);
    transition: 0.2s;
}
.button:hover{
    /* background: blue; */
    font-weight: bold;
    cursor: pointer;
    transform: scale(1.3);

}
span{
    color:rgb(245, 187, 11);
}